---
layout: default
---
{% assign pinned = site.posts | sort: 'date' | sort: 'pin'  | reverse %}
{%- if site.posts.size > 0 -%} {%- for post in pinned -%}
<section class="full-screen {{post.repeat}}" style="background-image: url({{post.bg}});">
  <!-- background by SVGBackgrounds.com -->
  <article class="card">
    <h2 class="card__title">{{ post.title | escape }}</h2>
    <div class="card__description">{{ post.content }}</div>
    <div class="card__action">
      {%- if post.repo -%}
      <a href="{{post.repo}}" target="_blank" rel="noopener noreferrer">Repository</a>
      {%- endif -%} {%- if post.demo -%}
      <a href="{{post.demo}}" target="_blank" rel="noopener noreferrer">Live demo</a>
      {%- endif -%}
    </div>
  </article>
</section>
{%- endfor -%} {%- endif -%}
