.container {
  position: relative;
  width: 100%;
  height: 100vh;
  scroll-behavior: smooth;
  overflow: auto;
  scroll-snap-type: y mandatory;
  .full-screen {
    padding-bottom: 8rem;
    overflow: scroll;
    display: grid;
    grid-template:
      ".    .    ." 1fr
      ". content ." auto
      ".    .    ." 1fr / 1fr min-content 1fr;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
    background: #4ca1af; 
    background-image: linear-gradient(to left, #4ca1af, #182527); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
    background-size: auto;
    background-repeat: repeat;
    background-position: center;

  }
}

.no-repeat {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
