// Fonts stuff
$ff-base: "Roboto", serif;
$ff-display: "Yeseva One", sans-serif;

$fs-base: 1rem;
$fs-xl: 1.8rem;

$headers: ("h1": 1.8rem, "h2": 1.4rem, "h3": 1.1rem);

// Colours
$black: #252525;
$primary: #7298c1;
$p-light: #a3c9f4;
$p-dark: #426a91;
$secondary: #9e9e9e;
$s-light: #cfcfcf;
$s-dark: #707070;
$white: #fff;
