// Fonts stuff
$ff-base: "Roboto", serif;
$ff-display: "Yeseva One", sans-serif;

$fs-base: 1rem;
$fs-h1: 3.75rem;
$fs-h2: 2.875rem;
$fs-h3: 2.25rem;
$fs-xl: 2.5rem;

// Colours
$black: #252525;
$primary: #2b235a;
$light-gray: #c2c2c2;
$dark-gray: #e8e8e8;
$white: #fff;
